@model IEnumerable<VehicleBooking.Areas.LOC_Payment.Models.AdminPaymentModel>

@{
    ViewData["Title"] = "AdminPaymentList";
}

@if (TempData["Message"] != null)
{
    <div id="Feature-alert" class="alert alert-success color-success">
        <i class="bi bi-check-circle"></i> @TempData["Message"]
    </div>

    <script>
        setTimeout(function () {
            $('#Feature-alert').fadeOut('fast');
        }, 2000); // 2 seconds
    </script>
}
<h2>AdminPaymentList</h2>
<form class="d-flex w-75" role="search" method="get" asp-area="LOC_Payment" asp-controller="AdminPayment" asp-action="AdminPaymentList">
    <input class="form-control me-2 " type="text" placeholder="PaymentMethod" aria-label="Search" name="PaymentMethod" value="@ViewBag.PaymentMethod">

    <button class="btn btn-outline-success" type="submit">Search</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



</form>
<div class="Card mt-2">
    <input id="new_1" type="search" placeholder="Search User" class="form-control" aria-controls="Sample_1" />
</div>
</br>
<div>
    <a asp-area="LOC_Payment" asp-controller="AdminPayment" asp-action="Edit" class="btn rounded-pil btn-primary">
        <div data-i18n="Notifications">PaymentAdd/Edit</div>
    </a>
</div>
</br>
<div class="card">
    <div class="table-responsive text-nowrap">
        <div class="container-fluid">
            <div class="mt-2"><h5>Payment Search</h5></div>



        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    @*  <th>
                    @Html.DisplayNameFor(model => model.PaymentID)
                    </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.BookingID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentMethod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modified)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="new_2">
                @foreach (var item in Model)
                {
                    <tr>
                        @*      <td>
                    @Html.DisplayFor(modelItem => item.PaymentID)
                    </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMethod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modified)
                        </td>
                        <td>
                            <button>
                                <a href="@Url.Action("Edit", new { id = item.PaymentID })" class="text-primary">
                                    <i class="bx bx-edit-alt me-1 "></i>
                                </a>
                            </button>
                            <button class="deleteButton" data-id="@item.PaymentID">
                                <a href="@Url.Action("AdminPaymentDelete", new { id = item.PaymentID })" class="text-danger" onclick="return confirm('Are you sure you want to delete record?')">
                                    <i class="bx bx-trash"></i>
                                </a>

                            </button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#new_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#new_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });

    </script>
}