@model IEnumerable<VehicleBooking.Areas.LOC_Booking.Models.AdminBookingModels>

@{
    ViewData["Title"] = "AdminBookingList";
}

@if (TempData["Message"] != null)
{
    <div id="Feature-alert" class="alert alert-success color-success">
        <i class="bi bi-check-circle"></i> @TempData["Message"]
    </div>

    <script>
        setTimeout(function () {
            $('#Feature-alert').fadeOut('fast');
        }, 2000); // 2 seconds
    </script>
}
<h2>AdminBookingList</h2>
<form class="d-flex w-75" role="search" asp-area="LOC_Booking" asp-controller="AdminBooking" asp-action="AdminBookingList">
    <input class="form-control me-2 " type="text" placeholder="First Name" aria-label="Search" name="FirstName">
    <input class="form-control me-2 " type="text" placeholder="Vehicle Name" aria-label="Search" name="VehicleName">
    <input class="form-control me-2 " type="text" placeholder="PickupLocation Name" aria-label="Search" name="PickupLocationName">
    <input class="form-control me-2 " type="text" placeholder="DropoffLocation Name" aria-label="Search" name="DropoffLocationName">

    <button class="btn btn-outline-success" type="submit">Search</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



</form>
<div class="Card mt-2">
    <input id="new_1" type="search" placeholder="Search User" class="form-control" aria-controls="Sample_1" />
</div>
</br>
<div>
    <a asp-area="LOC_Booking" asp-controller="AdminBooking" asp-action="Edit" class="btn rounded-pil btn-primary">
        <div data-i18n="Notifications">BookingAdd/Edit</div>
    </a>
</div>
</br>
<div class="card">
    <div class="table-responsive text-nowrap">
        <div class="container-fluid">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    @*          <th>
                    @Html.DisplayNameFor(model => model.BookingID)
                    </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PickupLocationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DropOffLocationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PickupDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DropOffDate)
                    </th>
                    @* <th>
                        @Html.DisplayNameFor(model => model.BookingStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalCharge)
                    </th>
                   *@ @*  <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modified)
                    </th> *@
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="new_2">
                @foreach (var item in Model)
                {
                    <tr>
                        @*    <td>
                    @Html.DisplayFor(modelItem => item.BookingID)
                    </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleName)
                        </td>
                        <td class="text-center">

                            @Html.DisplayFor(modelItem => item.PickupLocationName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.DropOffLocationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PickupDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DropOffDate)
                        </td>
                      @*   <td>
                            @Html.DisplayFor(modelItem => item.BookingStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalCharge)
                        </td>
                       *@@*   <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modified)
                        </td> *@

                        <td>
                            <button>
                                <a href="@Url.Action("Edit", new { id = item.BookingID })" class="text-primary">
                                    <i class="bx bx-edit-alt me-1 "></i>
                                </a>
                            </button>
                            <button class="deleteButton" data-id="@item.BookingID">
                                <a href="@Url.Action("AdminBookingDelete", new { id = item.BookingID })" class="text-danger" onclick="return confirm('Are you sure you want to delete record?')">
                                    <i class="bx bx-trash"></i>
                                </a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#new_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#new_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });

    </script>
}